<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It's Mr Profile</h1>
    <p>
    Man braid poutine literally hammock wayfarers. 
    Forage man braid kale chips kombucha. Occupy marfa meggings, 
    next level narwhal meditation shoreditch lyft williamsburg 
    iPhone franzen 90's celiac portland. Artisan photo booth 
    palo santo squid pour-over cardigan, activated charcoal poke.
    </p>
  </div>
</div>